In [26]:
import pymysql
import numpy as np
import pandas as pd
import time

MYSQL_CONN = pymysql.connect(
    host='db-6slkr-kr.vpc-pub-cdb.ntruss.com',
    port=3306,
    user='domain',
    passwd='bookcode7!',
    db='bookcode',
    charset='utf8mb4'
)

def conn_mysqldb():
    if not MYSQL_CONN.open:
        MYSQL_CONN.ping(reconnect=True)
    return MYSQL_CONN

def onlyAuthor(text):
    text=text.split('(지은이)')[0].strip()
    return text

if __name__ == '__main__':
    res = conn_mysqldb()
    sql = "SELECT author FROM Book;" 

    cursor = res.cursor() 
    cursor.execute(sql) 

    result = cursor.fetchall()
    result = pd.DataFrame(result)
    change_result = result.copy()
    change_result[0] = change_result[0].apply(onlyAuthor)
    
    print(result)
    
    for idx, author in enumerate(change_result[0]):
  
        sql=f"UPDATE Book SET author=\"{author}\" WHERE author=\"{result[0][idx]}\";"
        cursor = res.cursor() 
        cursor.execute(sql)
    
    sql = "SELECT author FROM Book;" 
    cursor.execute(sql) 
    result = cursor.fetchall()
    result = pd.DataFrame(result)
    print(result)

                                                     0
0                                           미스테리아 편집부
1                                              악스트 편집부
2                                               릿터 편집부
3    임현, 임철홍, 에밀리 정민 윤, 이정식, 임소라, 김대성, 박하빈, 염은영, 김혜...
4                                          헨리 데이비드 소로우
..                                                 ...
765                                                이금이
766                                        앙투안 드 생텍쥐페리
767                                                이경혜
768                                           요코야마 히데오
769                                                김동식

[770 rows x 1 columns]
                                                     0
0                                            미스테리아 편집부
1                                              악스트 편집부
2                                               릿터 편집부
3    임현, 임철홍, 에밀리 정민 윤, 이정식, 임소라, 김대성, 박하빈, 염은영, 김혜...
4                                          헨리 데이비드 소로우
..                                                 ...
765                                                이금이
766                                        앙투안 드 생텍쥐페리
767                                                이경혜
768                                           요코야마 히데오
769                                                김동식

[770 rows x 1 columns]

In [27]:
if __name__ == '__main__':
    sql = "SELECT author FROM Book;" 

    cursor = res.cursor() 
    cursor.execute(sql) 

    result = cursor.fetchall()
    result = pd.DataFrame(result)
    print(result[0:20])

                                                    0
0                                           미스테리아 편집부
1                                             악스트 편집부
2                                              릿터 편집부
3   임현, 임철홍, 에밀리 정민 윤, 이정식, 임소라, 김대성, 박하빈, 염은영, 김혜...
4                                         헨리 데이비드 소로우
5                                             미시마 유키오
6                                                 박완서
7                                                 최숙희
8                                                 윤동주
9                                                 ETS
10                                             존 윌리엄스
11                                             존 윌리엄스
12                                                이문열
13                                           모리미 토미히코
14                                              앤디 위어
15                                              앤디 위어
16                                              앤디 위어
17                                              앤디 위어
18                                            마이클 코널리
19                                           히가시노 게이고